body, html {
    background-color: lightcyan; /* whole page background */
    font-family: Arial, Helvetica, sans-serif; /* sets the font */
    height: 100%;
  }
  
 h1 {
  color: navy;
  text-align: center;
  font-size: 48px;
 }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred; /* nav bar background color */
  }
  
  li {
    float: left;
  }
  
 #special {
  background-color: white;
  border: 2px dashed navy;
  padding: 12px;
 }


  li a {
    display: block;
    color: lightgoldenrodyellow; /* white text */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* removes the underline */
  }
  
  #website {
    border-style: solid; /* adds border */
    text-align: center;
    text-transform: uppercase; /* makes text uppercase */
    padding: 30px;
    border-radius: 12px;
  }
  
  .parallax {
    /* The image used */
    background-image: url("assets/square.png");
  
    /* Set a specific height */
    height: 60%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallaxtwo {
    /* The image used */
    background-image: url("assets/color.png");
  
    /* Set a specific height */
    height: 60%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


li a:hover {
  background-color: white;
  color: navy;
}

p {
  font-size: 18px;
  line-height: 1.5;
}